
/* || CSS RESET || */
* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  color: white;
}

/* || GENERAL STYLES || */
body {
  background-image: radial-gradient( circle 815px at 23.4% -21.8%,  rgba(9,29,85,1) 0.2%, rgba(0,0,0,1) 100.2% ); /*gradient by cssgradient.io*/
  font-family: "Noto Serif", serif;
}

/* || SEARCH  BAR || */
.input-search {
  max-width: 50%;
}

/* || NEWS ARTICLE || */
.news-list {
  margin: 0 8rem;
}
.read_more {
  text-decoration: none;
  color: white;
  position: relative;
}
.read_more::before {
  content: '';
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: white;
  position: absolute;
  left: 0;
  bottom: -2px;
  transition: width .4s;
}
.read_more:hover::before {
  width: 100%;
}

/* || LAYOUT FOR SMALLER SCREENS || */
@media (max-width: 768px) {
  .input-search {
    max-width: 100%;
  }
  .news-list {
    margin: 0 1rem;
  }
}
