
/* || CSS RESET || */
* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  color: white;
}

/* || GENERAL STYLES || */
body {
  background: linear-gradient(to bottom, #343334e6, #151515);
  font-family: "Noto Serif", serif;
}

/* || SEARCH  BAR || */
.input-search {
  max-width: 50%;
}

/* || NEWS ARTICLE || */
.news-list {
  margin: 0 8rem;
}

/* || LAYOUT FOR SMALLER SCREENS || */
@media (max-width: 768px) {
  .input-search {
    max-width: 100%;
  }
  .news-list {
    margin: 0 1rem;
  }
}
